<header class="site-header px2 px-responsive">
  <div class="mt2 wrap">
    <div class="measure">
      <a href="{{ site.url }}" class="site-title">{{ site.title }}</a>
      <nav class="site-nav">
        {% include navigation.html %}
      </nav>
      <div class="clearfix"></div>
      {% assign showlinks = false %}
      {% for tag in page.tags %}
        {% if tag != 'about' and !='case' %}
          {% if tag != 'about' and !='case' %}
            {% assign showlinks  = 'social' %}
      {% endfor %}
      {% if site.show_social_icons and showlinks  == true %}
        {% include social_links.html %}
      {% endif %}
    </div>
  </div>
</header>
