.presentation h1, h2, h3, h4 {
  margin-top: 0;
  margin-bottom: 0.4rem;
}

.presentation h1, h2{
  font-family: $heading-font-family;
}

.projects h2, .presentation h3, .github-projects h3, .github-projects-list h4{
  font-family: $font-family;
  font-weight: 500;
}

.projects h2 {
  font-size: 2.3rem;
}

.projects {
  background: linear-gradient(#8e44ad, #c0392b);
}

.github-projects {
  background: linear-gradient(to right, #4b6cb7, #182848);
}

.github-projects-list a {
  text-decoration: none;
}

.github-projects-icon {
  font-size: 2.5rem;
}

.github-projects-element:nth-child(2n) {
  background: #f7f7f7;
}

.github-projects-description {
  font-size: 0.8rem;
}

.p-project {
  border-top: 2.5rem solid white;
  width: 100%;
}

.services-list {
  font-size: 0.7rem;
  line-height: 1.4rem;
}

.services-title {
  font-size: 1.3rem;
  text-transform: uppercase;
}

.services-title span{
  border-bottom: 3px solid #3a5199;
  padding-bottom: 3px;
}

.social-title{
  border-bottom: 5px solid #3a5199;
  padding: 3px 10px;
}

.post .social-icons{
  text-align: center;
  padding: 0;
  color: #333;
}

.post .social-icons a {
  text-decoration: none;
  color: #333;
  text-shadow: none;
  background-image: none;
}

.case-image img{
  width: 100%
}

.more-details figure {
	overflow: hidden;
}

.more-details figure img {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.no-touch .more-details figure:hover img,
.more-details figure.cs-hover img {
	-webkit-transform: translateY(-50px);
	-moz-transform: translateY(-50px);
	-ms-transform: translateY(-50px);
	transform: translateY(-50px);
}

.more-details figcaption {
	height: 100px;
	width: 100%;
	top: auto;
	bottom: 0;
	opacity: 0;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}

.no-touch .more-details figure:hover figcaption,
.more-details figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}

.more-details figcaption a {
	position: absolute;
	bottom: 20px;
	right: 20px;
}
