.round {
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}

.presentation h1, h2, h3, h4 {
  margin-top: 0;
  margin-bottom: 0.4rem;
}

.presentation h1, h2{
  font-family: $heading-font-family;
}

.projects h2, .presentation h3, .github-projects h3, .github-projects-list h4{
  font-family: $font-family;
  font-weight: 500;
}

.projects h2 {
  font-size: 2.3rem;
}

.projects {
  background: linear-gradient(#8e44ad, #c0392b);
}

.projects-item {
  width: 100%;
  height: 100%;
  position: relative;
}

.github-projects {
  background: linear-gradient(to right, #4b6cb7, #182848);
}

.github-projects-icon {
  font-size: 2.5rem;
}

.github-projects-element {
  background: #f7f7f7;
  height: 100%;
}

.github-projects-element:hover {
  background: #dedede;
}

.github-projects-element a {
  text-decoration: none;
  text-shadow: none;
}

.github-projects-description {
  font-size: 0.8rem;
}

.p-project {
  border-top: 2.5rem solid white;
  width: 100%;
}

.services-list {
  font-size: 0.7rem;
  line-height: 1.4rem;
}

.services-title {
  font-size: 1.3rem;
  text-transform: uppercase;
}

.services-title span{
  border-bottom: 3px solid #3a5199;
  padding-bottom: 3px;
}

.social-title{
  border-bottom: 5px solid #3a5199;
  padding: 3px 10px;
}

.post .social-icons{
  text-align: center;
  padding: 0;
  color: #333;
}

.post .social-icons a {
  text-decoration: none;
  color: #333;
  text-shadow: none;
  background-image: none;
}

.case-image img{
  width: 100%
}

.button {
	float: left;
	min-width: 150px;
	max-width: 250px;
	display: block;
	padding: 0.7em 1em;
	border: none;
	background: none;
	color: #fff;
	vertical-align: middle;
	position: relative;
	z-index: 1;
}

.button:focus {
	outline: none;
}

.button > span {
	vertical-align: middle;
}

.button-portfolio {
	overflow: hidden;
  border: 2px solid #fff;
	-webkit-transition: border-color 0.3s, color 0.3s;
	transition: border-color 0.3s, color 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.button-portfolio::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 150%;
	height: 100%;
	background: #37474f;
	z-index: -1;
	-webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
	transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
	-webkit-transform-origin: 0% 100%;
	transform-origin: 0% 100%;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s, background-color 0.3s;
	transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}

.button-portfolio:hover {
  color: #fff;
	border-color: #fff;
}

.button-portfolio:hover::before {
	opacity: 1;
	background-color: #3a5199;
	-webkit-transform: rotate3d(0, 0, 1, 0deg);
	transform: rotate3d(0, 0, 1, 0deg);
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.projects-overlay {
  position: absolute;
  top: 0;
	display: none;
	color: #ffffff;
	background-color: #000000;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  width: 100%;
  padding: 10px;
  height:100%;
  z-index: 10;
}

.projects-container:hover > .projects-overlay {
	display: block;
}
