.presentation h1, h2, h3 {
  margin-top: 0;
  margin-bottom: 0.4rem;
}

.presentation h1, h2{
  font-family: $heading-font-family;
}

.projects h2, .presentation h3, .github-projects h3{
  font-family: $font-family;
  font-weight: 500;
}

.projects h2 {
  font-size: 2.3rem;
}

.projects {
  background: linear-gradient(#8e44ad, #c0392b);
}

.github-projects {
  background: linear-gradient(to right, #4b6cb7, #182848);
}

.github-projects-list h4{
  font-weight: 700;
}

.github-projects-list a {
  text-decoration: none;
}

.github-projects-element, .github-projects-description {
  margin: 0.5em 0;
}

.github-projects-element {
  padding: 0.2em;
}

.github-projects-element:nth-child(2n) {
  background: #f7f7f7;
}

.github-projects-description {
  font-size: 0.8em;
}

.p-project {
  border-top: 2.5rem solid white;
  width: 100%;
}

.p-main {
  width: 65%;
}

.p-title {
  width: 35%;
}
